.weather-app {
  max-width: 650px;
  margin: 30px, auto;
  padding: 25px;
  border: 2px solid #bbb;
}
h1 {
  color: red;
 
font-family: "Google Sans", Roboto, arial, sans-serif
font-size: 22px
font-weight: 400
height: 26px
line-height: 26px
text-align: right
width: 326px
}

ul{
  color: #9aa0a6;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    list-style: none;
}
